VMTippingClient/FileReader.cs
PredictionSheets/~$VM 2014 Tippekonkuranse  - Aasmund.xlsx
PredictionSheets/~$VM 2014 Tippekonkuranse - Brian.xlsx
PredictionSheets/~$VM 2014 Tippekonkuranse - Erik.xlsx
PredictionSheets/~$VM 2014 Tippekonkuranse - Liv.xlsx
PredictionSheets/~$VM 2014 Tippekonkuranse - Nina.xlsx
PredictionSheets/~$VM 2014 Tippekonkuranse_ARNE.xlsx
VMTippekonkurranse/VMTippekonkurranse/bin/Newtonsoft.Json.xml
VMTippekonkurranse/VMTippekonkurranse/App_Data/aspnet-VMTippekonkurranse-20140612053508_log.ldf
VMTippekonkurranse/VMTippekonkurranse/App_Data/aspnet-VMTippekonkurranse-20140612053508.mdf
VMTippekonkurranse/VMTippekonkurranse/bin/VMTippekonkurranse.dll
VMTippekonkurranse/VMTippekonkurranse/bin/VMTippekonkurranse.pdb
VMTippekonkurranse/VMTippekonkurranse/bin/VMTipping.Model.pdb
VMTippekonkurranse/VMTippekonkurranse/App_Data/aspnet-VMTippekonkurranse-20140612053508.mdf
VMTippekonkurranse/VMTippekonkurranse/App_Data/aspnet-VMTippekonkurranse-20140612053508_log.ldf
PredictionSheets/~$VM 2014 Tippekonkuranse - Aasmund.xlsx
*.Cache
[Dd]ebug*/
[Bb]in
obj/
[Rr]elease*/
PredictionSheets/~$VM 2014 Tippekonkuranse - Egil.xlsx
PredictionSheets/~$VM 2014 Tippekonkuranse - Ørjan.xlsx
PredictionSheets/~$VM 2014 Tippekonkuranse - Øystein.xlsx
PredictionSheets/~$VM 2014 Tippekonkuranse - Ragnar.xlsx
PredictionSheets/~$Rune Brenden - VM 2014 Tippekonkuranse.xlsx
PredictionSheets/~$VM 2014 Tippekonkuranse Alisa Smerdova.xlsx
PredictionSheets/~$VM 2014 Tippekonkuranse Atle Magnussen.xlsx
PredictionSheets/~$VM 2014 Tippekonkuranse GJH.xlsx
PredictionSheets/~$VM 2014 Tippekonkuranse, Sølve.xlsx
PredictionSheets/~$VM 2014 Tippekonkuranse_Åge Martin.xlsx
PredictionSheets/~$VM 2014 Tippekonkuranse_ROY.xlsx
PredictionSheets/~$vm 2014 tippekonkuranse - Kristian.xlsx
*.suo
VMTippingClient/VMTippingClient.v12.suo
VMTippingClient/bin/Debug/VMTippingClient.exe
VMTippingClient/bin/Debug/VMTippingClient.pdb
VMTippingClient/VMTippingClient.v12.suo
PredictionSheets/~$VM 2014 Tippekonkuranse_AndreasF.xlsx
*.cache
*.mdf
*.ldf
