@model VMTippekonkurranse.Models.IndexViewModel

<div class="row own-department">
    <h2>Dagens kamper</h2>
    @foreach (var game in Model.TodaysGames)
    {
        @Html.Partial("_GamePartial", game)
    }
</div>
<div class="row own-department">
    <h2>Tidligere kamper</h2>
    @foreach (var game in Model.EarlierGames)
    {
        @Html.Partial("_GamePartial", game)
    }
</div>
<div class="row own-department">
    <h2>Kommende kamper</h2>
    @foreach (var game in Model.UpcomingGames)
    {
        @Html.Partial("_GamePartial", game)
    }
</div>