@{
    ViewBag.Title = "Home Page";
}

<div class="row own-department">
    <h2>Dagens kamper</h2>
    <div class="row own-department">
        <div class="row own-department">
            <div class="col-md-2">
                Spain - Netherlands
            </div>
            <div class="col-md-1">
                3 - 0
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#match1details">
                    Vis/skjul detaljer
                </button>
            </div>
        </div>
        <div class="row">
            <div id="match1details" class="col-md-8 collapse in">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Navn</th>
                            <th>Hjemme</th>
                            <th>Borte</th>
                            <th>Tippetegn</th>
                            <th>Kamppoeng</th>
                            <th>Total sum</th>
                        </tr>
                        <tr>
                            <td>Ragnar Stølsmark</td>
                            <td>2</td>
                            <td>1</td>
                            <td>H</td>
                            <td>3</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Brian Solli</td>
                            <td>1</td>
                            <td>1</td>
                            <td>U</td>
                            <td>0</td>
                            <td>12</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row own-department">
        <div class="row own-department">
            <div class="col-md-2">
                Cameroon - Mexico
            </div>
            <div class="col-md-1">
                3 - 0
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#match2details">
                    Vis/skjul detaljer
                </button>
            </div>
        </div>
        <div class="row">
            <div id="match2details" class="col-md-8 collapse in">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Navn</th>
                            <th>Hjemme</th>
                            <th>Borte</th>
                            <th>Tippetegn</th>
                            <th>Kamppoeng</th>
                            <th>Total sum</th>
                        </tr>
                        <tr>
                            <td>Ragnar Stølsmark</td>
                            <td>2</td>
                            <td>1</td>
                            <td>H</td>
                            <td>3</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Brian Solli</td>
                            <td>1</td>
                            <td>1</td>
                            <td>U</td>
                            <td>0</td>
                            <td>12</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row own-department">
    <h2>Tidligere kamper</h2>
    <div class="row own-department">
        <div class="row own-department">
            <div class="col-md-2">
                Spain - Netherlands
            </div>
            <div class="col-md-1">
                3 - 0
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#match3details">
                    Vis/skjul detaljer
                </button>
            </div>
        </div>
        <div class="row">
            <div id="match3details" class="col-md-8 collapse collapsed">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Navn</th>
                            <th>Hjemme</th>
                            <th>Borte</th>
                            <th>Tippetegn</th>
                            <th>Kamppoeng</th>
                            <th>Total sum</th>
                        </tr>
                        <tr>
                            <td>Ragnar Stølsmark</td>
                            <td>2</td>
                            <td>1</td>
                            <td>H</td>
                            <td>3</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Brian Solli</td>
                            <td>1</td>
                            <td>1</td>
                            <td>U</td>
                            <td>0</td>
                            <td>12</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row own-department">
        <div class="row own-department">
            <div class="col-md-2">
                Cameroon - Mexico
            </div>
            <div class="col-md-1">
                3 - 0
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#match4details">
                    Vis/skjul detaljer
                </button>
            </div>
        </div>
        <div class="row">
            <div id="match4details" class="col-md-8 collapse collapsed">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Navn</th>
                            <th>Hjemme</th>
                            <th>Borte</th>
                            <th>Tippetegn</th>
                            <th>Kamppoeng</th>
                            <th>Total sum</th>
                        </tr>
                        <tr>
                            <td>Ragnar Stølsmark</td>
                            <td>2</td>
                            <td>1</td>
                            <td>H</td>
                            <td>3</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Brian Solli</td>
                            <td>1</td>
                            <td>1</td>
                            <td>U</td>
                            <td>0</td>
                            <td>12</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row own-department">
    <h2>Kommende kamper</h2>
    <div class="row own-department">
        <div class="row own-department">
            <div class="col-md-2">
                Spain - Netherlands
            </div>
            <div class="col-md-1">
                x - x
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#match5details">
                    Vis/skjul detaljer
                </button>
            </div>
        </div>
        <div class="row">
            <div id="match5details" class="col-md-8 collapse collapsed">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Navn</th>
                            <th>Hjemme</th>
                            <th>Borte</th>
                            <th>Tippetegn</th>
                            <th>Kamppoeng</th>
                            <th>Total sum</th>
                        </tr>
                        <tr>
                            <td>Ragnar Stølsmark</td>
                            <td>2</td>
                            <td>1</td>
                            <td>H</td>
                            <td>3</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Brian Solli</td>
                            <td>1</td>
                            <td>1</td>
                            <td>U</td>
                            <td>0</td>
                            <td>12</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row own-department">
        <div class="row own-department">
            <div class="col-md-2">
                Cameroon - Mexico
            </div>
            <div class="col-md-1">
                x - x
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#match6details">
                    Vis/skjul detaljer
                </button>
            </div>
        </div>
        <div class="row">
            <div id="match6details" class="col-md-8 collapse collapsed">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>Navn</th>
                            <th>Hjemme</th>
                            <th>Borte</th>
                            <th>Tippetegn</th>
                            <th>Kamppoeng</th>
                            <th>Total sum</th>
                        </tr>
                        <tr>
                            <td>Ragnar Stølsmark</td>
                            <td>2</td>
                            <td>1</td>
                            <td>H</td>
                            <td>3</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Brian Solli</td>
                            <td>1</td>
                            <td>1</td>
                            <td>U</td>
                            <td>0</td>
                            <td>12</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>