body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.own-department {
    border: dotted;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    box-sizing: border-box;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.form-control {
    margin-bottom: 5px;
}

.scoreZero {
    color: red;
}
.scoreOne {
    color: black;
}
.scoreTwo {
    color: #116611;
    font-size: 110%
}
.scoreThree {
    color: #2D882D;
    font-size: 120%
}
.scoreFour {
    color: #55AA55;
    font-weight: bold;
    font-size: 140%
}
.teamKnockedOut {
    color: red;
}
.teamAdvanced {
    color: #55AA55;
}
.teamUndecided {
    color: black;
}